.jsml_textbox input,.jsml_textbox textarea,button.jsml_button,.jsml_dropdown select,fieldset
{
	color: windowtext;
	font-family:"Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size:11px;
}

.jsml_textbox input,.jsml_textbox textarea
{
	line-height:14px;
}

.jsml_button
{
	color: windowtext;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
}
.jsml_label, .menuitemlabel
{
	color: windowtext;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
}
.jsml_dialogskin .jsml_label
{
	color: windowtext;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 12px;
}


/* default skin */

.tbcontrol , .splitbtnsplit , .dropdownsplit , .menuitem , .menuitemimage
{
	border-color:transparent;
	*border-color:#fedcba;
	*filter:chroma(color=#fedcba);
}

.floatmenu
{
	background-color:#E9EEEE!important;
	background-image:url(images/menuleft.gif);
}

.menuitem , .imagebutton , .panelbutton
{
	border-width:1px;
	border-style:solid;
	background-color:transparent;
}
.menuitem .menuitemimage
{
	background-color:transparent;
}
.menuitem 
{
	border-radius:3px;
}
.menuitem .menuitemimage
{
	border-radius:3px;
}


/* checked */

.menuitem_checked .menuitemimage
{
	background-color:#eeddcc;
}
.imagebutton_checked , .panelbutton_checked
{
	border-color:#999999;
	background-image:url(images/tbcontrol_checked.png);
}

/* hovered */

.menuitem_hovered , .imagebutton_hovered , .panelbutton_hovered
{
	border-color:#FFBD69;
	background-color:#FFE7A2;
	/*background-image:url(images/tbcontrol_hovered.png);
	background-repeat:repeat-x;*/
}


/* clicked */
.menuitem_clicked , .imagebutton_clicked , .panelbutton_clicked
{
	border-color:#ABC1DE;
	background-color:#FFC450;
	/*background-image:url(images/tbcontrol_clicked.png);
	background-repeat:repeat-x;*/
}


/* disabled */


.tbcontrol_disabled
{
	opacity:0.5;
	filter:alpha(opacity=50)
}



/* other */


.dialogbutton
{
	color:rgba(0,0,0,0.9);
	text-shadow:1px 1px 0px rgba(255,255,255,0.8);
	border-radius:2px;
	cursor:pointer;
	border:solid 1px #707070;
	padding:0;	
	background-image:url(images/formbn.gif);
	background-repeat:repeat-x;
	background-color:#efefef;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
}


.rtelinktreegroup
{
	padding:2px 0;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
}
.rtelinktreeitem
{
	cursor:pointer;
	text-decoration:underline;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	padding:2px 0;
}




.dlgroup
{
	-o-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-style:solid;
	border-width:1px;
	border-color:#b5bdc8;
	background-image:url(../styles/images/tbgroup_blue2010.png);
	background-repeat:repeat-x;
}
.dlimage
{
	border-left:1px solid #D8E6F7;
	border-right:1px solid #ABC1DE;
}
.dlimage_checked
{
	border-left-color:#ABC1DE;
	background-image:url(../styles/images/tbcontrol_checked.png);
	background-repeat:repeat-x;
}
.dlimage_hovered
{
	border-left-color:#ABC1DE;
	background-image:url(../styles/images/tbcontrol_hovered.png);
	background-repeat:repeat-x;
}
.dlimage_clicked
{
    border-left-color:#ABC1DE;
	background-image:url(../styles/images/tbcontrol_clicked.png);
	background-repeat:repeat-x;
}





















