<?xml version="1.0" encoding="utf-8" ?>
<rteconfig>

	<watermarks>
		<watermark filepath="~/richtexteditor/images/watermark.png" xalign="right" yalign="bottom" xoffset="-10" yoffset="-10" minwidth="200" minheight="200" />
		<![CDATA[
		<watermark filepath="~/richtexteditor/images/watermark.png" xalign="left" yalign="top" xoffset="10" yoffset="10" minwidth="400" minheight="200" />
		<watermark filepath="base64:iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA60lEQVQ4T2NkoDJgpLJ5DLQ3MKDiwv8NHQZkW4SiMaDhwX+GDw8YNkxwQBb/T0SwwNWjGHjx2tP/+V2nGSoS1Bk8HDTJciWKJoeMA0AXXmD48IOB4cKGAsoNJMJrBJVghuGPDwxWGt8ZyhIsqePCDQfv/p8w/zDDgQUJMAPJj5Sdxx/9b194jqEkVI7Bx9mIchcGFBz4/+HFA2CkPABGSgPlBhIMcSIUoEYKMJeA9HwAJu4DMwKo40JQ1guz+cMQ5WNCeaSAXNc28+T/VduPUydhwyIlN1qNIdjXijpeJiLc8SohyxX4TKS6gQAlX1UV7RnUVQAAAABJRU5ErkJggg==" xalign="right" yalign="top" xoffset="-10" yoffset="10" minwidth="400" minheight="200" />
		]]>
	</watermarks>

	<security name="TagBlackList">script,style,link,applet,bgsound,meta,base,basefont,frameset,frame,form</security>
	<security name="AttrBlackList">runat,action</security>
	<security name="StyleBlackList">position,visibility,display</security>

	<security name="DrawWatermarks">false</security>

	<!--allow,resize,deny-->
	<security name="LargeImageMode">resize</security>
	<security name="MaxImageWidth">0</security>
	<security name="MaxImageHeight">768</security>

	<security name="MaxFileSize">1024</security>
	<security name="MaxFolderSize">102400</security>

	<security name="AllowUpload">false</security>
	<security name="AllowCopyFile">false</security>
	<security name="AllowMoveFile">false</security>
	<security name="AllowRenameFile">false</security>
	<security name="AllowDeleteFile">false</security>

	<security name="AllowOverride">false</security>
	<!--upload/copy/move-->

	<security name="AllowCreateFolder">false</security>
	<security name="AllowCopyFolder">false</security>
	<security name="AllowMoveFolder">false</security>
	<security name="AllowRenameFolder">false</security>
	<security name="AllowDeleteFolder">false</security>

	<security name="FilePattern">^[a-zA-Z0-9\._\-\s\(\)\[\]\u007F-\uFFFF]+$</security>
	<security name="FolderPattern">^[a-zA-Z0-9\._\-\s\(\)\[\]\u007F-\uFFFF]+$</security>

	<category for="Gallery,Image">
		<security name="Extensions">*.jpg,*.jpeg,*.gif,*.png</security>
		<security name="MimeTypes">image/*</security>
		<storage id="default">
			<security name="StoragePath">~/uploads</security>
			<security name="StorageName">Image Files</security>
		</storage>
	</category>
	<category for="Video">
		<security name="Extensions">*.swf,*.flv,*.avi,*.mpg,*.mpeg,*.mp3,*.wmv,*.wav,*.mp4,*.mov</security>
		<storage id="default">
			<security name="StoragePath">~/uploads</security>
			<security name="StorageName">Video Files</security>
		</storage>
	</category>
	<category for="Document">
		<security name="Extensions">*.txt,*.doc,*.pdf,*.zip,*.rar,*.avi,*.mpg,*.mpeg,*.mp3,*.wav,*.swf,*.jpg,*.jpeg,*.gif,*.png,*.htm,*.xls,*.html,*.rtf,*.wmv</security>
		<storage id="default">
			<security name="StoragePath">~/uploads</security>
			<security name="StorageName">Document Files</security>
		</storage>
	</category>
	<category for="Template">
		<security name="Extensions">*.txt,*.htm,*.html</security>
		<storage id="default">
			<security name="StoragePath">~/templates</security>
			<security name="StorageName">Templates</security>
		</storage>
	</category>


	<category for="Gallery,Image,Video,Document">
		<!--
		<storage id="another">
			<security name="StorageName">Others</security>
			<security name="StoragePath">~/others</security>
			<security name="AllowCreateFolder">false</security>
		</storage>
		<storage id="public">
			<security name="StorageName">Public Items</security>
			<security name="StoragePath">~/publicitems</security>

			<security name="AllowUpload">false</security>
			<security name="AllowCopyFile">false</security>
			<security name="AllowMoveFile">false</security>
			<security name="AllowRenameFile">false</security>
			<security name="AllowDeleteFile">false</security>

			<security name="AllowOverride">false</security>

			<security name="AllowCreateFolder">false</security>
			<security name="AllowCopyFolder">false</security>
			<security name="AllowMoveFolder">false</security>
			<security name="AllowRenameFolder">false</security>
			<security name="AllowDeleteFolder">false</security>

		</storage>
		
		-->
	</category>



</rteconfig>